/*bit-docs-prettify@0.1.1#prettify.less!$less*/
/**
* @stylesheet variables.less Variables
* @parent Styles.theme 0
*
* @description
* Variables hold all sorts of site-wide visual configurations. This site has color palettes, logo images, and font declarations set, which are demo'd throughout this live style guide.
**/
/**
* @styles color-palette Color Palette
*
* @description
* Variables used to define the site's color palette.
* @iframe demos/color-palette.html 630
**/
/**
* @stylesheet code.less Code Rendering
* @parent Styles.baseline-elements
*
* @description
* Enables both the layout of code wells, and also the syntax highlighting of the specific code language. Syntax coloring provided by prettify.js with the <a href="https://github.com/chriskempson/tomorrow-theme">Tomorrow Theme</a>.
*
* Code "wells" are styled based on the use of the `<pre>` and `<code>` tags around your desired code example.
*
* Below are a few examples in various languages. This is not an exhaustive list of supported languages.
*
* ### HTML
* ```
* <pre>
    <code>
      <div class="example"><!--with a comment -->
        <h1>Example</h1>
        <p>This is some example code that is being styled.</p>
      </div>
    </code>
  </pre>
*
* ```
* ### JavaScript
*```
var foo = require('f'),
    bar = require('br'),
    writeFile = f.denodify(br.writeFile),
    path = require('path');

module.exports = function(littlePromise, options){
   return littlePromise.then(function(little){
     return writeFile(
         path.join(options.dest,'little.json'),
         JSON.stringify(little) );
   });
};
* ```
* ### JSON
*```
{
  "sites": {
    "docs": {
      "key" : "value"
    }
  }
}
* ```
*
**/
code {
  background-color: #f7f8c3;
  border-radius: 5px;
  padding: 0 5px;
}
pre,
code,
pre *,
code * {
  font-family: "Courier New", Courier, mono;
  font-style: normal;
  font-weight: 300;
}
pre {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 20px;
  vertical-align: top;
  overflow: auto;
  padding: 10px 20px;
}
pre code {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  background-color: transparent;
}
pre ol {
  margin: 0 0 0 40px;
  padding: 0;
}
pre ol li {
  text-indent: 0;
  color: #484848;
  background-color: #ffffff;
  margin: 0;
  list-style: decimal;
}
/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
code.prettyprint {
  padding: 0 !Important;
}
.pln {
  color: #484848;
}
@media screen {
  /* string content */
  .str {
    color: #dd1144;
  }
  /* a keyword */
  .kwd {
    color: #333333;
  }
  /* a comment */
  .com {
    color: #999988;
  }
  /* a type name */
  .typ {
    color: #445588;
  }
  /* a literal value */
  .lit {
    color: #445588;
  }
  /* punctuation */
  .pun {
    color: #333333;
  }
  /* lisp open bracket */
  .opn {
    color: #333333;
  }
  /* lisp close bracket */
  .clo {
    color: #333333;
  }
  /* a markup tag name */
  .tag {
    color: #navy;
  }
  /* a markup attribute name */
  .atn {
    color: #teal;
  }
  /* a markup attribute value */
  .atv {
    color: #dd1144;
  }
  /* a declaration */
  .dec {
    color: #333333;
  }
  /* a variable name */
  .var {
    color: #teal;
  }
  /* a function name */
  .fun {
    color: #teal;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 14px;
  border: 1px solid #cccccc;
  padding: 10px;
}
pre.prettyprint ol {
  font-size: 14px;
  margin-bottom: 0px;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}

/*bit-docs-site@0.0.1#styles/styles.less!$less*/
/**
* @stylesheet variables.less Variables
* @parent Styles.theme 0
*
* @description
* Variables hold all sorts of site-wide visual configurations. This site has color palettes, logo images, and font declarations set, which are demo'd throughout this live style guide.
**/
/**
* @styles color-palette Color Palette
*
* @description
* Variables used to define the site's color palette.
* @iframe demos/color-palette.html 630
**/
body {
  font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 275px;
}
.sidebar {
  float: left;
  margin: 0;
  margin-top: -19px;
  max-width: 250px;
  overflow: auto;
  position: fixed;
  left: 0;
}
.sidebar ul {
  white-space: nowrap;
}
.sidebar .current > a {
  font-weight: bold;
}
