/*bit-docs-prettify@0.1.1#prettify.less!steal-less@1.2.0#less*/
/**
 * @stylesheet prettify-variables.less Prettify Variables
 * @parent bit-docs/theme
 *
 * @description Variables to customize code highlighting.
 * 
 * @body
 *
 * Copy these variables into your theme's variables.less to modify.
 */
/**
 * @styles color-palette Color Palette
 *
 * @description
 * Variables used to define the site's color palette.
 * @iframe demos/color-palette.html 630
 */
/**
* @stylesheet variables.less Variables
* @parent bit-docs/theme
*
* @description Variables to hold site-wide visual configurations.
*/
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-initial {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-none {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
/**
 * @stylesheet prettify.less Prettify
 * @parent bit-docs/theme
 *
 * @description
 * Layout of code wells and syntax highlighting of code languages. 
 *
 * @body
 *
 * Syntax highlighting and colors provided by 
 * <a href="https://github.com/google/code-prettify">prettify.js</a> and
 * <a href="https://github.com/chriskempson/tomorrow-theme">Tomorrow Theme</a>.
 *
 * Code "wells" are styled based on the use of the `<pre>` and `<code>` tags
 * around your desired code example.
 *
 * Below are examples in a few of the supported languages.
 *
 * ### HTML
 *
 * ```html
 * <pre>
 *   <code>
 *     <div class="example"><!--with a comment -->
 *       <h1>example</h1>
 *       <p>this is some example code that is being styled.</p>
 *     </div>
 *   </code>
 * </pre>
 *
 * ```
 *
 * ### JavaScript
 *
 *```js
 * var foo = require('f'),
 *     bar = require('br'),
 *     writefile = f.denodify(br.writefile),
 *     path = require('path');
 * 
 * module.exports = function(littlepromise, options){
 *    return littlepromise.then(function(little){
 *      return writefile(
 *          path.join(options.dest,'little.json'),
 *          json.stringify(little) );
 *    });
 * };
 * ```
 *
 * ### JSON
 *
 *```json
 * {
 *   "sites": {
 *     "docs": {
 *       "key" : "value"
 *     }
 *   }
 * }
 * ```
 */
code {
  padding: 0 5px;
  border-radius: 5px;
  background-color: #f7f8c3;
}
pre,
code,
pre *,
code * {
  font-weight: 300;
  font-style: normal;
  font-family: "courier new", courier, mono;
}
pre {
  margin: 0;
  overflow: auto;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  vertical-align: top;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
pre code {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  padding: 0 !important;
  background-color: transparent;
}
pre ol {
  padding: 0;
  font-size: 14px;
  margin: 0 0 0 40px;
}
pre ol li {
  margin: 0;
  text-indent: 0;
  color: #484848;
  list-style: decimal;
  background-color: #ffffff;
}
.pln {
  color: #484848;
}
@media screen {
  .str {
    color: #dd1144;
  }
  .kwd {
    color: #333333;
  }
  .com {
    color: #999988;
  }
  .typ {
    color: #445588;
  }
  .lit {
    color: #445588;
  }
  .pun {
    color: #333333;
  }
  .opn {
    color: #333333;
  }
  .clo {
    color: #333333;
  }
  .tag {
    color: #navy;
  }
  .atn {
    color: #teal;
  }
  .atv {
    color: #dd1144;
  }
  .dec {
    color: #333333;
  }
  .var {
    color: #teal;
  }
  .fun {
    color: #teal;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/*bit-docs-site@0.0.1#styles/styles.less!steal-less@1.2.0#less*/
/**
 * @stylesheet styles.less Styles
 * @parent bit-docs/theme
 *
 * @description Styles for the generated site.
 */
/**
* @stylesheet variables.less Variables
* @parent bit-docs/theme
*
* @description Variables to hold site-wide visual configurations.
*/
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-initial {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-none {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
/*
Mobile:
┌─────────────────────────────────┐
│ html ▶ box-sizing: border-box   ├ Everything border-box.
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ │
│ ┃ body ▶ margin: auto         ┣━━ Kill default margins.
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ header                  ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ .content                ┃ ┃ │
│ ┃ ┃ ┏━━━━━━━━━━━━━━━━━━━━━┓ ┃ ┃ │
│ ┃ ┃ ┃ .sidebar            ┃ ┃ ┃ │
│ ┃ ┃ ┃ ┏━━━━━━━━━━━━━━━━━┓ ┃ ┃ ┃ │
│ ┃ ┃ ┃ ┃ ul ▶ padding: 0 ┣━━━━━━━━ Make flush with parent.
│ ┃ ┃ ┃ ┗━━━━━━━━━━━━━━━━━┛ ┃ ┃ ┃ │
│ ┃ ┃ ┗━━━━━━━━━━━━━━━━━━━━━┛ ┃ ┃ │
│ ┃ ┃ ┏━━━━━━━━━━━━━━━━━━━━━┓ ┃ ┃ │
│ ┃ ┃ ┃ .main               ┃ ┃ ┃ │
│ ┃ ┃ ┗━━━━━━━━━━━━━━━━━━━━━┛ ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ footer                  ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ │
└─────────────────────────────────┘
*/
html {
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}
body {
  margin: auto;
  font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.container,
header,
footer,
.content .sidebar,
.content .main {
  padding-right: 25px;
  padding-left: 25px;
}
.content .sidebar ul {
  padding: 0;
}
.content .sidebar li {
  list-style-type: none;
}
.content .sidebar li li {
  padding-left: 12.5px;
}
.content .sidebar li .current > a {
  font-weight: bold;
}
.content .main {
  overflow-x: hidden;
}
/*
Desktop:
┌──────────────────────────────────────────────────────┐
│ html ▶ height: 100%                                  ├ Get window height.
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ │
│ ┃ body ▶ height: 100%,                             ┣━━ Use html/window height.
│ ┃        flex-direction: column                    ┣━━ Children are in column.
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ header ▶ flex: none                          ┣━━━━ Use content height.
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ .content ▶ flex: auto,                       ┣━━━━ Fill remaining height.
│ ┃ ┃            flex-direction: row               ┃ ┃ │ Children are in a row.
│ ┃ ┃ ┏━━━━━━━━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━━━━━━━┓ ┃ ┃ │
│ ┃ ┃ ┃ .sidebar ▼         ┃ ┃ .main ▼           ┃ ┃ ┃ │
│ ┃ ┃ ┃ flex: none,        ┃ ┃ flex: auto        ┃ ┃ ┃ │
│ ┃ ┃ ┃ overflow-y: auto   ┃ ┃ overflow-y: auto  ┃ ┃ ┃ │
│ ┃ ┃ ┃                    ┃ ┃                   ┃ ┃ ┃ │
│ ┃ ┃ ┣ Use content width. ┃ ┣ Fill width.       ┃ ┃ ┃ │
│ ┃ ┃ ┣ Fill height.       ┃ ┣ Fill height.      ┃ ┃ ┃ │
│ ┃ ┃ ┣ Scroll vertical.   ┃ ┣ Scroll vertical.  ┃ ┃ ┃ │
│ ┃ ┃ ┗━━━━━━━━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━━━━━━━┛ ┃ ┃ │
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ ┃ │
│ ┃ ┃ footer ▶ flex: none                          ┣━━━━ Use content height.
│ ┃ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ ┃ │
│ ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ │
└──────────────────────────────────────────────────────┘
*/
@media only screen and (min-width: 767px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header,
  footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content .sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow-y: auto;
  }
  .content .main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
